@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Oswald:wght@200..700&family=Parisienne&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    box-sizing:border-box
}

/* :root {
    --clr-primary: #261616;
    --clr-primary: #EDE6D6;
} */

body {
    margin: 0;
    background-color: #261616;
    color: #EDE6D6;
}

img { 
    width: 100%;
}

header {
    background-color: #261616;
    color: #EDE6D6;
}

/* MENÚ */
.navbar {
    --bs-navbar-color: #ede6d6;
    --bs-navbar-hover-color: #ede6d6;
    --bs-navbar-active-color: #ede6d6;
    --bs-navbar-brand-color: #ede6d6;
    --bs-navbar-brand-hover-color: #ede6d6;
    position: relative;
    display: flex;
    align-items: center;
    padding: var(--bs-navbar-padding-y) var(--bs-navbar-padding-x);
}

.navbar-nav {
    --bs-nav-link-disabled-color: #ede6d68a;
}

.navbar-brand {
    display: flex;
    align-items: center;
}
.logo-nav {
    width:20%;
}
.dropdown-menu {
    --bs-dropdown-link-active-color: #fff;
    --bs-dropdown-link-active-bg: #261616;
    border-radius: var(--bs-dropdown-border-radius);
}

.bg-body-tertiary {
    --bs-bg-opacity: 1;
    background-color: #261616 !important;
    color: #EDE6D6;
}



@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .dropdown-menu {
        position: absolute;
        background-color: #EDE6D6;
        color: #261616;
    }
}

/* ICONS */
.icons {
    display: flex;
    width: 30%;
    justify-content: flex-end;
}

.icons div:hover,
.icons i:hover {
    /* Cambia el color del borde al pasar el ratón sobre el elemento */
    color: rgb(189, 113, 113);
}

.icons i {
    font-size: 20px;
    color: #ede6d6;
    margin: 1rem;
}


/* SECCION 1: La esencia del cacao elevada al arte */
.sect1 {
    padding: 8rem 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sect1 h1 {
    font-family:'Oswald', serif;
    font-size: 9rem;
    padding-bottom: 8rem;
    margin: 0;
    
}

.sect1 h1 > span {
    font-family:"Parisienne", cursive;
    font-size: 10rem;
    letter-spacing: 10px;
    line-height: 5px;
}

.columna2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.texto-col2 {
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
    font-weight: 400;
    rotate: -90deg;
}

    /* CARRUSEL */

    .tarjeta-sec1 {
        background-color: transparent;
        border-color: transparent;
        font-family: 'Oswald', serif;
        font-size: 1.5rem;
        color: #EDE6D6;
    }

    .tarjeta-sec1 {
        transition: transform 0.3s ease; /* Transición suave al cambiar el tamaño */
    }
    
    .tarjeta-sec1:hover {
        transform: scale(1.05); /* Aumentar el tamaño al 110% */

    }
   

    .tarjeta-sec1 .card-text {
        font-family: "Inter", sans-serif;
        font-weight: 200;
        font-size: 0.9rem;
        padding: 1rem;
    }

    .tarjeta-sec1 .card-img-top {
        border-radius: 0;
    }
    /* Linea de progreso */

    .flickity-page-dots {
    display: none;
    }
    
    .progress-line {
        height: 5px;
        background-color: #EDE6D6;
        margin-top: 10px;
        width: 50%; /* En relacion al padre */
        position: relative; /* Position relative for absolute positioning */
        border-radius: 3px;
    }
    .progress-fill {
        height: 100%; /* Fill the height of the progress line */
        background-color: #7a6f58; /* Color of the progress fill */
        width: 0; /* Start with 0 width */
        transition: width 0.5s; /* Smooth transition */
        border-radius: 3px;
    }



/* footer */
footer {
    background-color: #EDE6D6;
    color: #261616;
    padding: 4em;
    font-size: 0.8em;
}

footer > p:not(:first-child) {
    padding-left: 1em;
}

footer > p > a {
    color: #EDE6D6;
    text-decoration: none;
}

/* Redes sociales */
.social {
    display: flex;
    width: 50%;
}

.social div:hover,
.social i:hover {
    /* Cambia el color del borde al pasar el ratón sobre el elemento */
    color: rgb(189, 113, 113);
}

.social i {
    font-size: 20px;
    color: #261616;
    margin: 1em;
}