@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Oswald:wght@200..700&family=Parisienne&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    box-sizing:border-box
}

/* :root {
    --clr-primary: #261616;
    --clr-primary: #EDE6D6;
} */

body {
    margin: 0;
    background-color: #261616;
    color: #EDE6D6;
}

img { 
    width: 100%;
}

header {
    background-color: #261616;
    color: #EDE6D6;
}


/* MENÚ */
.navbar {
    position: fixed;
    top: 0em;
    right: 0em;
    left: 0em;
    display: flex;
    align-items: center;
    padding: var(--bs-navbar-padding-y) var(--bs-navbar-padding-x);
    z-index: 5;
}

.navbar-nav {
    --bs-nav-link-disabled-color: #ede6d68a;
}

.navbar-brand {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-nav {
    width:20%;
}

.dropdown-menu {
    --bs-dropdown-link-active-color: #fff;
    --bs-dropdown-link-active-bg: #261616;
    border-radius: var(--bs-dropdown-border-radius);
}

.bg-body-tertiary {
    --bs-bg-opacity: 1;
    background-color: #261616 !important;
    color: #EDE6D6;
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .dropdown-menu {
        position: absolute;
        background-color: #EDE6D6;
        color: #261616;
    }
}

/* ICONS */
.navbar-nav {
    display: flex;
    width: 30%;
    justify-content: flex-start;
}

.navbar-nav i {
    font-size: 20px;
    color: #ede6d6;
    margin: 1rem;
}

.navbar-nav div:hover,
.navbar-nav i:hover {
    /* Cambia el color del borde al pasar el ratón sobre el elemento */
    color: rgb(189, 113, 113);
}

.nav-item {
    display: flex;
    align-items: center;
}

/* iconos compra y usuario */
.icons i {
    font-size: 30px;
    color: #ede6d6;
    margin: 1rem;
}

.icons {
    display: flex;
    width: 30%;
    justify-content: flex-end;
}

.icons div:hover,
.icons i:hover {
    /* Cambia el color del borde al pasar el ratón sobre el elemento */
    color: rgb(189, 113, 113);
}

.icons i {
    font-size: 20px;
    color: #ede6d6;
    margin: 1rem;
}


/* SECCION 1: La esencia del cacao elevada al arte */
.sect1 {
    padding: 8rem 0rem;
}

.sect1 h1 {
    font-family:'Oswald', serif;
    font-size: 9rem;
    padding-bottom: 8rem;
    margin: 0;
    
}

.sect1 h1 > span {
    font-family:"Parisienne", cursive;
    font-size: 10rem;
    letter-spacing: 10px;
    line-height: 5px;
}

.columna2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.texto-col2 {
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
    font-weight: 400;
    rotate: -90deg;
}

/* CARRUSEL */

.tarjeta-sec1 {
    background-color: transparent;
    border-color: transparent;
    font-family: 'Oswald', serif;
    font-size: 1.5rem;
    color: #EDE6D6;
}

.tarjeta-sec1 {
    transition: transform 0.3s ease; /* Transición suave al cambiar el tamaño */
}

.tarjeta-sec1:hover {
    transform: scale(1.05); /* Aumentar el tamaño al 110% */

}


.tarjeta-sec1 .card-text {
    font-family: "Inter", sans-serif;
    font-weight: 200;
    font-size: 0.9rem;
    padding: 1rem;
}

.tarjeta-sec1 .card-img-top {
    border-radius: 0;
}
/* Linea de progreso */

.flickity-page-dots {
display: none;
}

.progress-line {
    height: 5px;
    background-color: #EDE6D6;
    margin-top: 10px;
    width: 50%; /* En relacion al padre */
    position: relative; /* Position relative for absolute positioning */
    border-radius: 3px;
}
.progress-fill {
    height: 100%; /* Fill the height of the progress line */
    background-color: #7a6f58; /* Color of the progress fill */
    width: 0; /* Start with 0 width */
    transition: width 0.5s; /* Smooth transition */
    border-radius: 3px;
}

/* SECCIÓN 2 La esencia de nuestra tradición */

.sect2 {
    background-color: #EDE6D6;
    padding: 2rem 0 0 0;
    color: #261616;
    font-family: "Inter", sans-serif;
}

.sect2 h1 {
    color: #261616;
    font-family: 'Oswald', serif;
    font-size: 7rem;
    padding: 2rem;
    margin-bottom: 3rem;
    text-align: left;
}

.sect2 h1 span {
    font-family: "Parisienne", cursive;
    font-size: 8rem;
    letter-spacing: 10px;
    line-height: 8px;
}

.sect2 .texto1 p {
    text-align: left;
    padding: 2rem 13rem 3rem 0rem;
}

.sect2 .texto2 p {
    padding: 2rem 0 3rem 12rem;
    text-align: right;
}

.sect2 h3 {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 2rem;
}

.sect2 .img1 img {
    border-radius: 0 0 32rem 0;
}

.sect2 .img2 img {
    border-radius: 32rem 0 0rem 0;
}

/* SECCION 3: Valores */

.sect3 {
    padding: 11rem;
}

.sect3 h1 {
    font-size: 7.5rem;
    font-family: 'Oswald', serif;
}

.sect3 span {
    font-family: "Parisienne", cursive;
    font-size: 8.5rem;
    letter-spacing: 12px;
    line-height: 8px;
}

/* SECCIÓN 4: Formulario */

/* SECCIÓN 5: Descubre más */

    



    

/* footer */
footer {
    background-color: #EDE6D6;
    color: #261616;
    padding: 4em;
    font-size: 0.8em;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer > p:not(:first-child) {
    padding-left: 1em;
}

footer > p > a {
    color: #EDE6D6;
    text-decoration: none;
}

/* RSS */
.social {
    display: flex;
    width: 50%;
}

.social div:hover,
.social i:hover {
    /* Cambia el color del borde al pasar el ratón sobre el elemento */
    color: rgb(189, 113, 113);
}

.social i {
    font-size: 20px;
    color: #261616;
    margin: 1em;
}

/* LEGAL */
.legal {
    display: flex;
    flex-wrap: nowrap;
}

.legal p {
    margin: 1em;
}

/*UBICACIÓN*/
#ubi #target-content1 {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;

}

#ubi #target-content1:target {
    opacity: 1;
    pointer-events: all;
}

#ubi #target-content1 #target-inner1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

    display: block;
    padding: 2em;
    background-color: #261616;
    color: #DFDBE5;
    border-radius: 20px;
    z-index: 3;
}

#ubi #target-content1 a.close1 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(189, 113, 113, 0.348);
}

#ubi #target-content2 a.close1:hover {
    background-color: #261616;
}

#ubi .pr-btn  {
    margin: 0 auto;
    border: none;
    outline: 0;
    padding: 8px;
    color: white;
    background-color: rgb(189, 113, 113);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    border-radius: 12px;
    text-decoration: none;
}

/*SUSCRIBETE*/
#subscribe #target-content2 {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;

}

#subscribe #target-content2:target {
    opacity: 1;
    pointer-events: all;
}

#subscribe #target-content2 #target-inner2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

    display: block;
    padding: 2em;
    background-color: #261616;
    color: #DFDBE5;
    border-radius: 20px;
    z-index: 3;
}

#subscribe #target-content2 a.close2 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(189, 113, 113, 0.348);
}

#subscribe #target-content2 a.close2:hover {
    background-color: rgba(189, 113, 113, 0.476);
}

#subscribe .pr-btn  {
    margin: 0 auto;
    border: none;
    outline: 0;
    padding: 8px;
    color: white;
    background-color: rgb(189, 113, 113);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    border-radius: 12px;
    text-decoration: none;
}


/* EXTRA - FLECHA */
#extra .flecha {
    font-size: 30px;
    position: fixed;
    width: 1em;
    right: 1em;
    bottom: 0.5em;
    z-index: 3;
}


/*ERROR*/
#error #target-content {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;

}

#error #target-content:target {
    opacity: 1;
    pointer-events: all;
}

#error #target-content #target-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

    display: block;
    padding: 2em;
    background-color: #261616;
    color: #DFDBE5;
    border-radius: 20px;
    z-index: 3;
}

#error #target-content a.close {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(189, 113, 113, 0.348);
}

#error #target-content a.close:hover {
    background-color: rgba(189, 113, 113, 0.476);
}

#error .pr-btn  {
    margin: 0 auto;
    border: none;
    outline: 0;
    padding: 8px;
    color: white;
    background-color: rgb(189, 113, 113);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    border-radius: 12px;
    text-decoration: none;
}

/*USUARIO*/
#form #target-content3 {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    z-index: 5;
}

#form #target-content3:target {
    opacity: 1;
    pointer-events: all;
}

#form #target-content3 #target-inner3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

    display: flex;
    flex-direction: column;
    padding: 2em;
    background-color: #261616;
    color: #DFDBE5;
    border-radius: 20px;
    z-index: 3;
}

#form #target-content3 a.close3 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(189, 113, 113, 0.348);
}

#form #target-content3 a.close3:hover {
    background-color: rgba(189, 113, 113, 0.476);
}

#form .pr-btn  {
    margin: 0 auto;
    border: none;
    outline: 0;
    padding: 8px;
    color: white;
    background-color: rgb(189, 113, 113);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    border-radius: 12px;
    text-decoration: none;
}

/*INSCRIPCIÓN*/
#inscription #target-content4 {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    z-index: 5;
}

#inscription #user_form {
   display: flex;
   flex-direction: column;
   align-items: center;
}

#inscription #target-content4:target {
    opacity: 1;
    pointer-events: all;
}

#inscription #target-content4 #target-inner4 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

    display: flex;
    flex-direction: column;
    padding: 2em;
    background-color: #261616;
    color: #DFDBE5;
    border-radius: 20px;
    z-index: 3;
}

#inscription #target-content4 a.close4 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(189, 113, 113, 0.348);
}

#inscription #target-content4 a.close4:hover {
    background-color: rgba(189, 113, 113, 0.476);
}

#inscription .pr-btn  {
    margin: 0 auto;
    border: none;
    outline: 0;
    padding: 8px;
    color: white;
    background-color: rgb(189, 113, 113);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    border-radius: 12px;
    text-decoration: none;
}

#inscription form fieldset:first-child input {
    margin-top: 0.5em;
    height: 1em;
    padding: 0.5em;
    border-radius: 12px;
    border: none;
}

#inscription form fieldset fieldset div div {
    display: flex;
    flex-direction: row;
}