@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Parisienne&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    box-sizing:border-box
}

body {
    margin: 0;
    background-color: #261616;
    color: #EDE6D6;
}

img { 
    width: 100%;
}

header {
    background-color: #261616;
    color: #EDE6D6;
}

/* MENÚ */
.navbar {
    overflow: hidden;
    background-color: #EDE6D6;
}
  
.navbar a {
    float: left;
    font-size: 16px;
    color:#261616;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: #261616;
    padding: 14px 16px;
    background-color: inherit;
    font: inherit; 
    margin: 0; 
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #261616;
    color: #EDE6D6;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #EDE6D6;
    width: 100%;
    left: 0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content .header {
    background: #261616;
    padding: 16px;
    color: #EDE6D6;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.column {
    float: left;
    width: 33.33%;
    padding: 10px;
    background-color: #EDE6D6;
    height: 250px;
}

.column a {
    float: none;
    color: black;
    padding: 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.column a:hover {
    background-color: #EDE6D6;
}

/* SECCION 1: La esencia del cacao elevada al arte */
.sect1 {
    padding: 4em 6em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
