@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Parisienne&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    box-sizing: border-box
}

body {
    margin: 0;
    background-color: #261616;
    color: #EDE6D6;
}

img {
    width: 100%;
}

header {
    background-color: #261616;
    color: #EDE6D6;
}


/* MENÚ */

.navbar {
    background-color: #261616 !important;
    font-family: "Oswald", sans-serfi;
    font-size: 0.8rem;
}

.navbar-nav {
    flex-grow: 1;
}

.nav-link {
    color: #ede6d6;
    transition: 0.3s;
}

.nav-link:hover {
    color: rgb(189, 113, 113);
    transform: scale(1.04);
}

.logo-nav {
    height: 4rem;
}

.iconos-link {
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    margin-left: auto;


}

.iconos-link .navbar-link {
    color: #EDE6D6 !important;
    transition: 0.3s ease;
}

.iconos-link .navbar-link:hover {
    color: rgb(189, 113, 113);
}

.navbar-toggler {
    background-color: #EDE6D6 !important;
    border: none;
}


/* ICONS */
.navbar-nav {
    display: flex;
    width: 30%;
    justify-content: flex-start;
}

.navbar-nav i {
    font-size: 20px;
    color: #ede6d6;
    margin: 1rem;
}

.iconos-link .navbar-link:hover,
.iconos-link i:hover {
    color: rgb(189, 113, 113);
}



.nav-item {
    display: flex;
    align-items: center;
}

/* SECCION 1: La esencia del cacao elevada al arte */
.sect1 {
    padding: 8rem 0rem;
}

.sect1 h1 {
    font-family: 'Oswald', serif;
    font-size: 9rem;
    padding-bottom: 8rem;
    margin: 0;

}

.sect1 h1>span {
    font-family: "Parisienne", cursive;
    font-size: 10rem;
    letter-spacing: 10px;
    line-height: 5px;
}

.columna2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.texto-col2 {
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
    font-weight: 400;
    rotate: -90deg;
}

/* CARRUSEL */
.tarjeta-sec1 {
    background-color: transparent;
    border-color: transparent;
    font-family: 'Oswald', serif;
    font-size: 1.5rem;
    color: #EDE6D6;
}

.tarjeta-sec1 {
    transition: transform 0.3s ease;
}

.tarjeta-sec1:hover {
    transform: scale(1.05);
}

.tarjeta-sec1 .card-text {
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    font-size: 0.9rem;
    padding: 1rem;
}

.tarjeta-sec1 .card-img-top {
    border-radius: 0;
}

/* Linea de progreso */
.flickity-page-dots {
    display: none;
}

.progress-line {
    height: 5px;
    background-color: #EDE6D6;
    margin-top: 10px;
    width: 50%;
    position: relative;
    border-radius: 3px;
}

.progress-fill {
    height: 100%;
    background-color: #7a6f58;
    width: 0;
    transition: width 0.5s;
    border-radius: 3px;
}

/* SECCIÓN 2 La esencia de nuestra tradición */
.sect2 {
    background-color: #EDE6D6;
    padding: 2rem 0 0 0;
    color: #261616;
    font-family: "montserrat", sans-serif;
}

.sect2 h1 {
    color: #261616;
    font-family: 'Oswald', serif;
    font-size: 7rem;
    padding: 2rem;
    margin-bottom: 3rem;
    text-align: left;
}

.sect2 h1 span {
    font-family: "Parisienne", cursive;
    font-size: 8rem;
    letter-spacing: 10px;
    line-height: 8px;
}

.sect2 .texto1 p {
    text-align: left;
    padding: 2rem 13rem 3rem 0rem;
}

.sect2 .texto2 p {
    padding: 2rem 0 3rem 12rem;
    text-align: right;
}

.sect2 h3 {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 2rem;
}

.sect2 .img1 img {
    border-radius: 0 0 32rem 0;
}

.sect2 .img2 img {
    border-radius: 32rem 0 0rem 0;
}

/* SECCION 3: Valores */
.sect3 {
    padding: 11em;
}

.sect3 h1 {
    font-size: 5em;
    font-family: 'Oswald', serif;
}

.sect3 span {
    font-family: "Parisienne", cursive;
    font-size: 6rem;
    letter-spacing: 12px;
    line-height: 8px;
}

.container-text-center {
    border: 0.5em solid #EDE6D6;
    padding: 5em;
    border-radius: 5em;
    display: inline-block;
    width: 100%;
    text-align: center;
}




/* SECCIÓN 4: Opinión de nuestros clientes */
.sect4 {
    background-color: #EDE6D6;
    color: #261616;
}

.sect4 .opiniones {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.heading h1 {
    font-size: 7.5rem;
    font-family: 'Oswald', serif;
}

.opiniones {
    font-family: "Montserrat", sans-serif;
}

.heading span {
    font-family: 'Parisienne', cursive;
    font-size: 8.5rem;
    letter-spacing: 12px;
    line-height: 8px;
}

.fa {
    font-size: 2em;
}

.checked {
    color: orange;
}

.side {
    float: left;
    width: 15%;
    margin-top: 10px;
}

.middle {
    width: 70%;
    margin-top: 10px;
}

.opiniones:after {
    content: "";
    display: table;
    clear: both;
}

.bar-container {
    width: 100%;
    background-color: #EDE6D6;
    text-align: center;
    color: rgb(76, 24, 24);
}

.bar-5 {
    width: 60%;
    height: 18px;
    background-color: #04AA6D;
}

.bar-4 {
    width: 30%;
    height: 18px;
    background-color: #2196F3;
}

.bar-3 {
    width: 10%;
    height: 18px;
    background-color: #00bcd4;
}

.bar-2 {
    width: 4%;
    height: 18px;
    background-color: #ff9800;
}

.bar-1 {
    width: 15%;
    height: 18px;
    background-color: #f44336;
}

.container-text-center-4 {
    padding: 5em;
    display: inline-block;
    margin: 20px;
    text-align: center;
}

/* SECCIÓN 5: Descubre más */
.sect5 {
    height: 20rem;
    z-index: 1;
    background-image: url(../media/imgs/chocolate-descubre-mas.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.sect5 .btn {
    font-family: "Oswald", sans-serif;
    width: 20%;
    color: #EDE6D6;
    background-color: rgb(189, 113, 113);
    text-align: center;
    cursor: pointer;
    font-size: 1.5em;
    border-radius: 12px;
    text-decoration: none;
    box-shadow: 0 4px 15px rgb(0, 0, 0);
    transition: 0.5s ease;
}

.sect5 .btn:hover {
    transform: scale(1.05);
}

.sect5 .btn:active {
    background-color: rgb(204, 89, 89);
}




/* PAGINA PRODUCTOS */
/* Sección 1: Nuestras mejores exquisiteces */
.sect1-p2 h1 {
    font-family: 'Oswald', serif;
    font-size: 7rem;
    padding: 2rem;
    text-align: center;
}

.sect1-p2 h1 span {
    font-family: "Parisienne", cursive;
    font-size: 8rem;
    letter-spacing: 15px;
    line-height: 5px;
}

/* CARRUSEL 2 */
.tarjeta-sec2 {
    background-color: transparent;
    border-color: transparent;
    font-family: 'Oswald', serif;
    font-size: 1.5rem;
    color: #EDE6D6;
    width: calc(50% - 20px);
    margin: 10px;
    transition: transform 0.3s ease;
}

.tarjeta-sec2 {
    transition: transform 0.3s ease;
}

.tarjeta-sec2:hover {
    transform: scale(1.05);
}

.tarjeta-sec2 .card-text {
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    font-size: 0.9rem;
    padding: 1rem;
}

.tarjeta-sec2 .card-img-top {
    border-radius: 0;
    height: 20em;
    width: 100%;
    object-fit: cover;
}

.progress-line2 {
    height: 5px;
    background-color: #EDE6D6;
    margin-top: 10px;
    width: 50%;
    position: relative;
    border-radius: 3px;
}

.progress-fill2 {
    height: 100%;
    /* Fill the height of the progress line */
    background-color: #7a6f58;
    /* Color of the progress fill */
    width: 0;
    /* Start with 0 width */
    transition: width 0.5s;
    /* Smooth transition */
    border-radius: 3px;
}

.bombon {
    margin-top: 5em;
}

/* SECCIÓN 2: Para paladares con buen gusto */
.sect2-p2 {
    background-color: #EDE6D6;
    color: #261616;
    font-family: "montserrat", sans-serif;
}

.sect2-p2 h1 {
    font-family: 'Oswald', serif;
    font-size: 7rem;
    padding: 2rem;
    margin-bottom: 3rem;
    text-align: left;
    padding-right: 30rem;
}

.sect2-p2 h1 span {
    font-family: "Parisienne", cursive;
    font-size: 8rem;
    letter-spacing: 15px;
    line-height: 5px;
}

.sect2-p2 h3 {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 2rem;
}

.sect2-p2 .texto3 p {
    text-align: left;
    padding: 2rem 13rem 3rem 0rem;
}

.sect2-p2 h3 {
    font-size: 3rem;
}

.texto-4 {
    text-align: left;
    padding-right: 3rem;
    padding-bottom: 4rem;
}

.hover-efecto {
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease;
}

#hover-video {
    transition: transform 0.3s ease;
}

#hover-video:hover {
    transform: scale(1.03);
}

s .hover-efecto img {
    display: block;
    width: 100%;
    height: auto;
}

.hover-efecto:hover {
    transform: scale(1.03);
}

.overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #261616;
    color: #EDE6D6;
    text-align: center;
    padding: 10rem;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.hover-efecto:hover .overlay {
    opacity: 1;
}

.overlay span {
    display: inline-block;
}

.overlay p {
    margin: 0;
    font-size: 1.2em;
}

/* SECCIÓN 3: Delicatessen secretas */
.sect3-p2 h1 {
    font-family: 'Oswald', serif;
    font-size: 7rem;
    padding: 2rem;
    text-align: center;
}

.sect3-p2 h1 span {
    font-family: "Parisienne", cursive;
    font-size: 8rem;
    letter-spacing: 15px;
    line-height: 5px;
}

/* CARRUSEL 3 */
.row {
    display: flex;
    margin-right: -15px;
    margin-left: -15px;
    justify-content: center;
}

.tarjeta-sec3 {
    background-color: transparent;
    border-color: transparent;
    font-family: 'Oswald', serif;
    font-size: 1.5rem;
    color: #EDE6D6;
    width: calc(50% - 20px);
    margin: 10px;
    transition: transform 0.3s ease;
}

.tarjeta-sec3 {
    transition: transform 0.3s ease;
}

.tarjeta-sec3:hover {
    transform: scale(1.05);
}

.tarjeta-sec3 .card-text {
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    font-size: 0.9rem;
    padding: 1rem;
}

.tarjeta-sec3 .card-img-top {
    border-radius: 0;
    height: 20em;
    width: 100%;
    object-fit: cover;
}

/* footer */
footer {
    background-color: #EDE6D6;
    color: #261616;
    padding: 4em;
    font-size: 0.8em;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer p {
    font-size: 0.6rem;
}

footer>p:not(:first-child) {
    padding-left: 1em;
}

footer>p>a {
    color: #EDE6D6;
    text-decoration: none;
}

/* RSS */
.social {
    display: flex;
    width: 50%;
}

.social div:hover,
.social i:hover {
    color: rgb(189, 113, 113);
}

.social i {
    font-size: 20px;
    color: #261616;
    margin: 1em;
}

.progress-line {
    height: 5px;
    background-color: #EDE6D6;
    margin-top: 10px;
    width: 50%;
    position: fixed;
    border-radius: 3px;
}

/* LEGAL */
.legal {
    display: flex;
    flex-wrap: nowrap;
}

.legal p {
    font-family: "Montserrat", sans-serif;
    margin: 1em;
}


/*UBICACIÓN*/
#ubi #target-content1 {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;

}

#ubi #target-content1:target {
    opacity: 1;
    pointer-events: all;
}

#ubi #target-content1 #target-inner1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

    display: block;
    padding: 2em;
    background-color: #261616;
    color: #DFDBE5;
    border-radius: 20px;
    z-index: 3;
}

#ubi #target-content1 a.close1 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(189, 113, 113, 0.348);
}

#ubi #target-content2 a.close1:hover {
    background-color: #261616;
}

#ubi .pr-btn {
    margin: 0 auto;
    border: none;
    outline: 0;
    padding: 8px;
    color: white;
    background-color: rgb(189, 113, 113);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    border-radius: 12px;
    text-decoration: none;
}


/*SUSCRIBETE*/
#subscribe #target-content2 {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;

}

#subscribe #target-content2:target {
    opacity: 1;
    pointer-events: all;
}

#subscribe #target-content2 #target-inner2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

    display: block;
    padding: 2em;
    background-color: #261616;
    color: #DFDBE5;
    border-radius: 20px;
    z-index: 3;
}

#subscribe #target-content2 a.close2 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(189, 113, 113, 0.348);
}

#subscribe #target-content2 a.close2:hover {
    background-color: rgba(189, 113, 113, 0.476);
}

#subscribe .pr-btn {
    margin: 0 auto;
    border: none;
    outline: 0;
    padding: 8px;
    color: white;
    background-color: rgb(189, 113, 113);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    border-radius: 12px;
    text-decoration: none;
}


/* EXTRA */
#extra {
    font-size: 30px;
    position: fixed;
    width: 1em;
    right: 1em;
    bottom: 0.5em;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

#extra i {
    font-size: 20px;
    margin: 1rem;
    transition: color 0.3s;
}

#extra:hover i {
    color: rgb(189, 113, 113);
}


/*ERROR*/
#error #target-content {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;

}

#error #target-content:target {
    opacity: 1;
    pointer-events: all;
}

#error #target-content #target-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

    display: block;
    padding: 2em;
    background-color: #261616;
    color: #DFDBE5;
    border-radius: 20px;
    z-index: 3;
}

#error #target-content a.close {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(189, 113, 113, 0.348);
}

#error #target-content a.close:hover {
    background-color: rgba(189, 113, 113, 0.476);
}

#error .pr-btn {
    margin: 0 auto;
    border: none;
    outline: 0;
    padding: 8px;
    color: white;
    background-color: rgb(189, 113, 113);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    border-radius: 12px;
    text-decoration: none;
}


/*USUARIO*/
#form #target-content3 {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    z-index: 5;
}

#form #target-content3:target {
    opacity: 1;
    pointer-events: all;
}

#form #target-content3 #target-inner3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

    display: flex;
    flex-direction: column;
    padding: 2em;
    background-color: #261616;
    color: #DFDBE5;
    border-radius: 20px;
    z-index: 3;
}

#form #target-content3 a.close3 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(189, 113, 113, 0.348);
}

#form #target-content3 a.close3:hover {
    background-color: rgba(189, 113, 113, 0.476);
}

#form .pr-btn {
    margin: 0 auto;
    border: none;
    outline: 0;
    padding: 8px;
    color: white;
    background-color: rgb(189, 113, 113);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    border-radius: 12px;
    text-decoration: none;
}

/*INSCRIPCIÓN*/
#inscription #target-content4 {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    z-index: 5;
}

#inscription #user_form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#inscription #target-content4:target {
    opacity: 1;
    pointer-events: all;
}

#inscription #target-content4 #target-inner4 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

    display: flex;
    flex-direction: column;
    padding: 2em;
    background-color: #261616;
    color: #DFDBE5;
    border-radius: 20px;
    z-index: 3;
}

#inscription #target-content4 a.close4 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(189, 113, 113, 0.348);
}

#inscription #target-content4 a.close4:hover {
    background-color: rgba(189, 113, 113, 0.476);
}

.btn-primary {
    margin: 0 auto;
    border: none;
    outline: 0;
    padding: 8px;
    color: #DFDBE5;
    background-color: rgb(189, 113, 113);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    border-radius: 12px;
    text-decoration: none;
}

#inscription form fieldset:first-child input {
    margin-top: 0.5em;
    height: 1em;
    padding: 0.5em;
    border-radius: 12px;
    border: none;
}

#inscription form fieldset fieldset div div {
    display: flex;
    flex-direction: row;
}

.was-validated .form-control:valid {
    border-color: #28a745;
}

.was-validated .form-control:invalid {
    border-color: #dc3545;
}

/*COOKIES*/
.toast {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1050;
    background-color: #261616;
    color: #DFDBE5;
    box-shadow: 0 4px 15px rgba(255, 255, 255, 0.5);
}

.toast-header {
    background-color: #261616;
    color: #DFDBE5;
}

.btn-primary {
    background-color: #DFDBE5;
    color: #261616;
}

.btn-secondary {
    background-color: #362828;
    color: #DFDBE5;
}

.btn-red {
    background-color: rgb(189, 113, 113);
    color: #DFDBE5;
}

.pt-2 {
    padding-top: .5rem !important;
    display: flex;
    justify-content: space-evenly;
}


/* RESPONSIVE */

/* SECCIÓN 1: LA ESENCIA DEL CACAO ELEVADO AL ARTE */


@media (max-width: 1200px) {

    /* TÍTULOS DE SECCIONES 1 Y 2 */

    .sect1 h1 {
        font-size: 6.5rem;
        text-align: center;
    }

    .sect1 h1 span {
        font-size: 5.5rem;
    }

    .texto-col2 {
        padding-bottom: 3rem;
        rotate: none;
    }


    .sect2 h1 {
        font-size: 5rem;
    }

    .sect2 h1 span {
        font-size: 6rem;
    }

    /* Sección 2 */

    .texto1 {
        padding-top: 3rem;
    }


    /* SECCIÓN 3 */

    .sect3 {
        padding: 4em;
    }

    .sect3 h1 {
        font-size: 3em;
    }

    .sect3 span {
        font-size: 4rem;
    }

    /* SECCIÓN 4: OPINIONES */
    .heading h1 {
        font-size: 6rem;
    }

    .heading span {
        font-size: 7rem;
        letter-spacing: 10px;
    }

    .side {
        width: 25%;
    }

    .middle {
        width: 50%;
    }

    .container-text-center-4 {
        padding: 4em;
        margin: 15px;
    }

    /* PÁGINA 2 */

    /* SECCIÓN 1 */
    .sect1-p2 h1 {
        font-size: 5rem;
    }
    
    .sect1-p2 h1 span {
        font-size: 6rem;
    }

    /* SECCIÓN 2 */

    .sect2-p2 h1 {
        font-size: 5rem;
        padding-right: 5rem;
    }
    
    .sect2-p2 h1 span {
        font-size: 6rem;
    }

    .sect2-p2 p {
        font-size: 0.8rem;
    }


    .texto-4 {
        padding: 1rem !important;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;

    }

    .texto3 h3, .texto4 h3, .texto-4 h3, .texto5 h3, .texto6 h3 {
        font-size: 1.6rem;
        padding-top: 2rem;
        text-align: center;
    }
    .texto3 p, .texto4 p, .texto-4 p,.texto5 p, .texto6 p {
        font-size: 0.8rem;
        padding: 0 2rem 0 2rem;
    }
    
    .galeria {
        padding: 0.5rem;
        margin: 0rem;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
    }
    

}

@media (max-width: 768px) {


    /* TÍTULO SECCIÓN 2 */

    .sect2 h1 {
        font-size: 4rem;
        text-align: center;
    }

    .sect2 h1 span {
        font-size: 5rem;
    }

    /* Sección 2 */

    .texto1,
    .texto2 {
        display: flex !important;
        align-items: center !important;
        padding: 1rem;
    }

    .texto1 p,
    .texto2 p {
        padding: 1rem !important;
        text-align: center !important;
    }

    .texto2 {
        padding-right: 1rem !important;
    }

    /* SECCIÓN  3 */

    .sect3 {
        padding: 2.5em;
    }

    .sect3 h1 {
        font-size: 2.5em;
    }

    .sect3 span {
        font-size: 3.5rem;
    }

    /* SECCIÓN 4: OPINIONES */
    .heading h1 {
        font-size: 5rem;
    }

    .heading span {
        font-size: 6rem;
        letter-spacing: 8px;
    }

    .opiniones {
        font-size: 0.9rem;
    }

    .side {
        width: 100%;
        margin-top: 5px;
    }

    .middle {
        width: 100%;
        margin-top: 5px;

    }

    .container-text-center-4 {
        padding: 3em;
        margin: 10px;
    }

    /* SECCIÓN 5 */
    .sect5 .btn {
        width: 40%;
    }

    /* PÁGINA 2 */

    /* SECCIÓN 1 */

    .sect1-p2 h1 {
        font-size: 4rem;
    }
    
    .sect1-p2 h1 span {
        font-size: 5rem;
    }

    /* SECCIÓN 2 */

    .sect2-p2 h1 {
        font-size: 4rem;
        padding: 3rem;
        text-align: center;
        margin: 0rem;
    }
    
    .sect2-p2 h1 span {
        font-size: 5rem;
    }

    .sect2-p2 p {
        font-size: 0.9rem;
        text-align: center;
    }

    .texto3 {
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
    }

    .texto3 h3, .texto4 h3, .texto-4 h3, .texto5 h3, .texto6 h3 {
        font-size: 1.6rem;
        padding-top: 2rem;
        text-align: center;
    }
    .texto3 p, .texto4 p, .texto-4 p,.texto5 p, .texto6 p {
        font-size: 1rem;
        padding: 2rem !important;
    }

    /* SECCIÓN 3 */

    .sect3-p2 h1 {
        font-size: 4rem;
    }
    
    .sect3-p2 h1 span {
        font-size: 5rem;
    }
}

@media (max-width: 480px) {

    /* MENU */

    .iconos-link .navbar-link i {
        font-size: 1rem;
    }

    .iconos-link .navbar-link {
        padding: 0rem;
    }

    .iconos-link {
       margin: 0rem;
       padding: o.5rem;
    }

    .navbar-toggler {
        font-size: 1rem;
    }

    /* SECCIÓN 1 */

    .sect1 h1 {
        font-size: 3rem;
    }

    .sect1 h1 span {
        font-size: 3rem;
    }

     /* SECCIÓN 2 */

     .sect2 h1 {
        font-size: 3rem;
    }

    .texto1 p, .texto2 p{
        font-size: 0.8rem;
    }





    /* SECCIÓN 3 */

    .sect3 {
        padding: 1em;
    }

    .sect3 h1 {
        font-size: 1.5em;
    }

    .sect3 span {
        font-size: 2.5rem;

    }

    .valores {
        padding: 3rem;
    }

    /* SECCIÓN 4 */

    .heading h1 {
        font-size: 3rem;

    }

    .heading span {
        font-size: 3rem;
        letter-spacing: 5px;
    }

    .bar-container {
        padding: 1em;
    }

    .container-text-center-4 {
        padding: 2em;
        margin: 5px;
    }

    /* SECCIÓN 5 */
    .sect5 .btn {
        font-size: 1.2REM;
        width: 60%;
    }

    /* PÁGINA 2 */

    /* SECCIÓN 1 */

    .sect1-p2 h1 {
        font-size: 2rem;
    }
    
    .sect1-p2 h1 span {
        font-size: 2rem;
    }

    /* SECCIÓN 2 */

    .sect2-p2 h1 {
        font-size: 2rem;
    }
    
    .sect2-p2 h1 span {
        font-size: 2rem;
        letter-spacing: 1px;
    }

    .sect2-p2 h3 {
        font-size: 3rem;
        padding: 1rem;
        text-align: center;
    }

    .sect2-p2 p {
        font-size: 0.9rem;
        text-align: center;
    }

    .texto-4 {
        padding: 1rem !important;

    }

    .texto3 h3, .texto4 h3, .texto-4 h3, .texto5 h3, .texto6 h3 {
        font-size: 1.6rem;
        text-align: center;
    }
    .texto3 p, .texto4 p, .texto-4 p,.texto5 p, .texto6 p {
        padding: 1.5rem !important;
    }

    /* SECCIÓN 3 */

    .sect3-p2 h1 {
        font-size: 2.5rem;
    }
    
    .sect3-p2 h1 span {
        font-size: 2.5rem;
        letter-spacing: 5px;
    }


    /* FOOTER */

    footer {
        display: flex;
        flex-direction: column-reverse;
    }

    .social {
        font-size: 0.8rem;
        display: flex;
        align-content: center;
        align-items: stretch;
        justify-content: center;
    }

    .legal p {
        font-size: 0.5rem;
    }
}